@{
    ViewBag.Title = "ViewSummary";
}

<div class="">
    <div class="">
        <img src="~/Content/Images/PdfMergingLoader.gif" style="display:none;position:center" id="CustomSearchLoader" />
    </div>
    <div class="row">
        <ul class="pcoded-submenu tabs">
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <!-- Tab variant tab card start -->
            <div class="card">
                
                <div class="card-block tab-icon">
                    <!-- Row start -->
                    <div class="row">
                        <div class="col-md-4 col-md-offset-3 justify-content-center m-b-10" id="UniquePracticsValues_1">

                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
            <!-- Tab variant tab card start -->
        </div>
    </div>
  

</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="AuditSummaryModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Audit Summary
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formnote">
                    <input name="ReferenceId" id="ReferenceId" value="" hidden />
                    <div class="row">
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Booking:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="Booking"></label>
                        </div>
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Pickup:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="Pickup"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Pickup Attempted:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="PickupAttempted"></label>
                        </div>
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Transit:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="Transit"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Cancelled:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="Cancelled"></label>
                        </div>
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Unable to Book:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="UnabletoBook"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Lost:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="Lost"></label>
                        </div>
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Return to Sender:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="ReturntoSender"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 form-group">
                            <label style="color:#2f6295 !important">Delivered:</label>
                        </div>
                        <div class="col-3 form-group">
                            <label id="Delivered"></label>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <h3>Total :</h3><h4 id="TotalPatient"></h4>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        window.onload = function () {
            DynamicList();
        };



        function DynamicList() {



            $.ajax({
                type: "GET",
                url: "/ReceiverList/GetAllUniquePracticeId",
                dataType: "json",
                success: function (result) {
                    $('#UniquePracticsValues_1').html('');

                    $.each(result, function (i, item) {
                        var rows;
                        rows = "<div class='btn-group dropdown-split-primary btnwidth'>" +
                            "<button type = 'button' class='btn btn-primary btnwidth1' > " + item + "</button>" +
                            "<button type='button' class='btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>" +
                            "<span class='sr-only'>Toggle primary</span ></button>" +
                            "<div class='dropdown-menu'>" +
                            "<a class='dropdown-item waves-effect waves-light' onclick='PracticeSummary(\"" + item + "\")'> Audit Summary</a>" +
                            "<a class='dropdown-item waves-effect waves-light' href = '/Audit/GetDataByPracticeId?PracticeId=" + item + "' > Audit Details</a>" +
                            "</div ></div ></div ><br/><br/>"

                        $('#UniquePracticsValues_1').append(rows);
                    });
                }
            });
        };

        PracticeSummary = function (item) {

            $.ajax({
                type: "GET",
                url: "/Audit/PracticeSummary/",
                data: {
                    "PracticeId": item,
                },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#CustomSearchLoader").show();
                },
                complete: function () {
                    $("#CustomSearchLoader").hide();
                },
                success: function (data) {

                    debugger
                    $("#AuditSummaryModal").modal('show');

                    $("#TotalPatient").html(data.Total);

                    $("#Booking").text(data.Booking);
                    $("#Pickup").text(data.Pickup);
                    $("#PickupAttempted").text(data.Pickup_Attempted);
                    $("#Transit").text(data.Transit);
                    $("#Cancelled").text(data.Cancelled);
                    $("#UnabletoBook").text(data.Unable_to_Book);
                    $("#Lost").text(data.Lost);
                    $("#ReturntoSender").text(data.Return_to_Sender);
                    $("#Delivered").text(data.Delivered);
                },
                error: function (result) {
                    alert('Please Try Again...');
                }
            });
        };
    </script>
}

